* {
  box-sizing: border-box;
}

/* SCP component container */
.component {
  padding: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  background-color: #333; 
  color: #fff; 
  border-radius: 10px; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
  margin-bottom: 1rem;
  text-align: justify;
  max-width: 80%; 
  margin: 0 auto; 
}

/* SCP component image */
.component img {
  max-width: 100%; 
  height: auto;
}

/* Media query for small screens */
@media screen and (max-width: 1000px) {
  .component {
    background-color: #555; 
  }
}

.image-container {
  text-align: center; 
  background-color: black; 
  display: inline-block;
  max-width: 300px; 
  margin: 10px; 
}

.image-container img {
  width: 100%; 
  height: auto; 
  display: block; 
  margin: 0 auto;
}

.component img {
  display: block;
  margin: 0 auto;
  border: 5px solid darkgray;
}


.model-name.centered {
  text-align: center;
  font-size: 24px; 
  margin-bottom: 10px; 
}
